
form {
    width: 100%;
    display: grid;
    gap: 20px;
}

label {
    font-size: 25px;
    color: white;
}

#bookh1 {
    padding: 0px;
    margin: 0px;
}

form input,
form select {
    width: 50%;
    height: 40px;
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-family:  sans-serif;
    border-radius: 5px;
    border: none;
     
}

form select {
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 17px;
    border-radius: 5px;
    font-family:  sans-serif;
}

#submitButton {
    margin-top: 10px;
}

#submitButton {
    background-color: #F4CE14;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    transition: background-color 0.3s;
}

#submitButton:hover{
    background-color: #495E57;
    border: white solid 2px;
   
    color: white;
}

#submitButton:focus{
    background-color: #495E57;
    border: white solid 2px;
 
    color: white;
}

.error-message {
    color: red;  
    font-size: 14px;  
    padding-left: 10px;
}

.ChooseDiv {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 400px) {

    form {
        width: 100%;
        display: grid;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    form input,
    form select {
    width: 100%;
    text-align: center;
    }

    label {
        text-align: center;
    }

    #bookh1 {
        text-align: center;
    }
    .ChooseDiv {
        display: flex;
      flex-direction: column;
    }
}