.section2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-section2 {
    max-width: 800px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.s2-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

#specials {
    color: black;
    font-size: 40px;
}

#button2 {
    background-color: black;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
}

.s2-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center;
    width: 100%;
    gap: 10px;
    padding-bottom: 30px;
    max-width: 800px;
    padding-top: 60px;
}

.bottom-part {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-top: -17px;
}

.card {
    background-color: #EDEFEE;
    overflow: hidden;
    border-radius: 10px;
    width: 270px;
    position: relative;
}

.bottom-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.bottom-bottom {
    margin-top: -45px;
}

#t1 {
    margin: 0%;
    padding: 0%;
}

#t2 {
    margin: 0%;
    padding: 0%;
}

#GreekSalad{
    color: black;
    margin: 0%;
    padding: 0%;
    width: 100%;
    
}

#price{
    color: #EE9972;
    margin: 0%;
    padding: 0%;
    padding-left: 20px;
}

#p-below {
    color: black;
    margin-top: -25px;
    padding-bottom: 20px;
}

#p-below2 {
    color: black;
    margin-top: -40px;
    width: 100%;
    padding-right: 10px;
}

#deliveryIcon {
    margin: 0%;
    padding: 0%;
    padding-bottom: 3px;
}

#p-bel-containter{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    bottom: 0;
}

.img-container {
    width: 100%;
    max-height: 200px;  
    overflow: hidden;  
    position: relative;
}

.img-container img {
    width: 100%;
    height: 200px;
    display: block;
    object-fit: cover;
}


@media screen and (max-width: 840px) {

    .s2-2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
      
    }

    .card {
        background-color: #EDEFEE;
        overflow: hidden;
        border-radius: 10px;
        width: auto;
    }
    
}

@media screen and (max-width: 576px) {

    .container-section2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    .s2-2 {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center; 
        width: auto;
    }

    .s2-1 {
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 100%;
        overflow: hidden;
    }
    
    #specials {
        color: black;
        font-size: 40px;
        padding-right: 30px;
    }
    
    #button2 {
        background-color: black;
        padding: 15px;
        border-radius: 10px;
        font-size: 15px;
        font-weight: bold;
        color: white;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 30px;
    }
   

    
}